Source: mosquitto
Section: net
Priority: optional
Maintainer: Roger Light <roger@atchoo.org>
Build-Depends: debhelper (>= 7), libsqlite3-dev (>= 3.6.14.1), libwrap0-dev, quilt
Standards-Version: 3.8.3
Homepage: http://mosquitto.atchoo.org/

Package: mosquitto
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser (>= 3.10), sqlite3-pcre
Recommends: mosquitto-pub, mosquitto-sub
Description: MQTT version 3 compatible message broker
 This is a message broker that supports version 3 of the MQ Telemetry Transport
 protocol. MQTT provides a lightweight method of carrying out messaging using a
 publish/subscribe model.

Package: libmosquitto0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MQTT version 3 client library
 This is a library that provides a means of implementing MQTT version 3
 clients. MQTT provides a lightweight method of carrying out messaging using a
 publish/subscribe model.

Package: libmosquitto0-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmosquitto0
Description: MQTT version 3 client library, development files
 This is a library that provides a means of implementing MQTT version 3
 clients. MQTT provides a lightweight method of carrying out messaging using a
 publish/subscribe model.

Package: libmosquittopp0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmosquitto0
Description: MQTT version 3 client C++ library
 This is a library that provides a means of implementing MQTT version 3
 clients. MQTT provides a lightweight method of carrying out messaging using a
 publish/subscribe model.

Package: libmosquittopp0-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmosquittopp0
Description: MQTT version 3 client C++ library, development files
 This is a library that provides a means of implementing MQTT version 3
 clients. MQTT provides a lightweight method of carrying out messaging using a
 publish/subscribe model.

Package: mosquitto-pub
Architecture: any
Recommends: mosquitto, mosquitto-sub
Depends: ${shlibs:Depends}, ${misc:Depends}, libmosquitto0
Description: MQTT version 3 publish client
 This is an MQTT version 3 client that can publish messages to a broker.

Package: mosquitto-sub
Architecture: any
Recommends: mosquitto-pub, mosquitto
Depends: ${shlibs:Depends}, ${misc:Depends}, libmosquitto0
Description: MQTT version 3 subscribe client
 This is an MQTT version 3 client that can subscribe to multiple topics on a
 broker.

